<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>화성능행도</title>
     <style>
        img{
            vertical-align: bottom;
            width: 20rem;
        }
    </style>
</head>
<body>
<div style="display: flex; flex-direction: row; width: 100%">
    <a href="01"><img src = "{{url_for('static', filename = 'images/main_03.jpg')}}"></a>
    <a href="02"><img src = "{{url_for('static', filename = 'images/main_04.jpg')}}"></a>
    <a href="03"><img src = "{{url_for('static', filename = 'images/main_05.jpg')}}"></a>
    <a href="04"><img src = "{{url_for('static', filename = 'images/main_06.jpg')}}"></a>
    <a href="05"><img src = "{{url_for('static', filename = 'images/main_07.jpg')}}"></a>
    <a href="06"><img src = "{{url_for('static', filename = 'images/main_08.jpg')}}"></a>
    <a href="07"><img src = "{{url_for('static', filename = 'images/main_09.jpg')}}"></a>
    <a href="08"><img src = "{{url_for('static', filename = 'images/main_10.jpg')}}"></a>
</div>
</body>
</html>